.card {
    height: rem(240px);
    background-size: cover;
    background-position: center;
    background-image: url(https://static.vecteezy.com/system/resources/previews/007/756/466/non_2x/sale-banner-buy-now-discount-big-sale-final-sale-and-best-price-for-website-banner-advertisements-blog-stickers-illustration-free-vector.jpg);
    margin-bottom: calc(var(--mantine-spacing-md) * 0.5);
  }
  
  .content {
    position: absolute;
    inset: 0;
    padding: var(--mantine-spacing-xl);
    z-index: 1;
  }
  
  .action {
    position: absolute;
    bottom: var(--mantine-spacing-xl);
    right: var(--mantine-spacing-xl);
  }
  
  .title {
    color: var(--mantine-color-white);
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  }
  
  .description {
    color: var(--mantine-color-white);
    max-width: rem(220px);
  }
  
  .overlay {
    background-color: transparent;
    background-image: linear-gradient(
      105deg,
      var(--mantine-color-black) 20%,
      #312f2f 50%,
      var(--mantine-color-gray-4) 100%
    );
  }

  
  .card1 {
    height: rem(440px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
  }
  
  .title1 {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 900;
    color: var(--mantine-color-white);
    line-height: 1.2;
    font-size: rem(32px);
    margin-top: var(--mantine-spacing-xs);
  }
  
  .category1 {
    color: var(--mantine-color-white);
    opacity: 0.7;
    font-weight: 700;
    text-transform: uppercase;
  }

  .card2 {
    background-color: #595959;
  }
  
  .title2 {
    font-weight: bold;
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    line-height: 1.2;
  }
  
  .body2 {
    padding: var(--mantine-spacing-sm);
  }

  .card3 {
    background-color: #ffdab3;
    transition:
      transform 150ms ease,
      box-shadow 150ms ease;
  
    &:hover {
      transform: scale(1.01);
      box-shadow: var(--mantine-shadow-md);
    }
  }
  
  .title3 {
    font-family: 'Greycliff CF', var(--mantine-font-family);
    font-weight: bold;
  }